ion-content.bicolor {
  ion-toolbar {
    height: 30vh;
  }

  ion-title {
    font-size: 3em;

  }

  ion-card {
    margin-top: -12vh;
    z-index: 99;
  }
}

.icon {
  display: inline-block;
  font-size: 35px;
  color: #ffC977;
  vertical-align: middle;
}

.text {
  display: inline-block;
  vertical-align: middle;
}