<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding" *ngIf="$services | loading | async as services">
    <ion-row>

      <!-- skeleton card for loading -->
      <ng-template [ngIf]="services.loading">
        <ion-skeleton-text class="ion-margin-start" animated style="width: 40%; height: 2vh; margin-left: 16px;">
        </ion-skeleton-text>
        <ion-col size="9" class="ion-no-padding">
          <ion-card style="margin-left: 16px; margin-right: -4px;">
            <ion-skeleton-text animated class="ion-no-margin" style="width: 100%; height: 20vh;"></ion-skeleton-text>
            <ion-card-header>
              <ion-skeleton-text animated style="width: 25%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 55%"></ion-skeleton-text>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-skeleton-text class="ion-margin-start" animated style="width: 40%; height: 2vh; margin-left: 16px;">
        </ion-skeleton-text>
        <ion-col size="9" class="ion-no-padding">
          <ion-card style="margin-left: 16px; margin-right: -4px;">
            <ion-skeleton-text animated class="ion-no-margin" style="width: 100%; height: 20vh;"></ion-skeleton-text>
            <ion-card-header>
              <ion-skeleton-text animated style="width: 25%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 55%"></ion-skeleton-text>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-skeleton-text class="ion-margin-start" animated style="width: 40%; height: 2vh; margin-left: 16px;">
        </ion-skeleton-text>
        <ion-col size="9" class="ion-no-padding">
          <ion-card style="margin-left: 16px; margin-right: -4px;">
            <ion-skeleton-text animated class="ion-no-margin" style="width: 100%; height: 20vh;"></ion-skeleton-text>
            <ion-card-header>
              <ion-skeleton-text animated style="width: 25%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 55%"></ion-skeleton-text>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ng-template>

      <!-- services on lists of cards -->
      <ng-template [ngIf]="services.value">
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              <ion-text>
                <h4 class="ion-no-margin ion-margin-start ion-margin-top"><strong>Servicios Frecuentes</strong></h4>
              </ion-text>
            </ion-col>
            <ion-col>
              <a class="ion-margin-top more ion-float-end">Ver todos</a>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-slides [options]="slideOpts">
          <ion-slide *ngFor="let service of services.value">
            <ion-card>
              <ion-img [src]="service.img"></ion-img>
              <ion-card-header>
                <ion-grid class="ion-no-padding">
                  <ion-row class="ion-no-padding">
                    <ion-col size="12" class="ion-text-justify">
                      <ion-text color="dark">
                        <p class="ion-no-margin"><strong>{{ service.name | titlecase }}</strong></p>
                      </ion-text>
                      <p class="ion-no-margin">Costo: ${{ service.price | number }}</p>
                    </ion-col>
                    <ion-col size="12">
                      <ion-button expand="block" color="primary" class="ion-no-margin ion-margin-top"
                        (click)=openModal(service)>solicitar</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-header>
            </ion-card>
          </ion-slide>
        </ion-slides>
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              <ion-text>
                <h4 class="ion-no-margin ion-margin-start ion-margin-top"><strong>Servicios a domicilio</strong></h4>
              </ion-text>
            </ion-col>
            <ion-col>
              <a class="ion-margin-top more ion-float-end">Ver todos</a>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-slides [options]="slideOpts">
          <ion-slide [hidden]="service.type !== 'Servicio a Domicilio'" *ngFor="let service of services.value">
            <ion-card>
              <ion-img [src]="service.img"></ion-img>
              <ion-card-header>
                <ion-grid class="ion-no-padding">
                  <ion-row class="ion-no-padding">
                    <ion-col size="12" class="ion-text-justify">
                      <ion-text color="dark">
                        <p class="ion-no-margin"><strong>{{ service.name | titlecase }}</strong></p>
                      </ion-text>
                      <p class="ion-no-margin">Costo: ${{ service.price | number }}</p>
                    </ion-col>
                    <ion-col size="12">
                      <ion-button expand="block" color="primary" class="ion-no-margin ion-margin-top"
                        (click)=openModal(service)>solicitar</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-header>
            </ion-card>
          </ion-slide>
        </ion-slides>
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              <ion-text>
                <h4 class="ion-no-margin ion-margin-start ion-margin-top"><strong>Servicios de acompañamiento</strong></h4>
              </ion-text>
            </ion-col>
            <ion-col>
              <a class="ion-margin-top more ion-float-end">Ver todos</a>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-slides [options]="slideOpts">
          <ion-slide [hidden]="service.type !== 'Servicio de acompañamiento'" *ngFor="let service of services.value">
            <ion-card>
              <ion-img [src]="service.img"></ion-img>
              <ion-card-header>
                <ion-grid class="ion-no-padding">
                  <ion-row class="ion-no-padding">
                    <ion-col size="12" class="ion-text-justify">
                      <ion-text color="dark">
                        <p class="ion-no-margin"><strong>{{ service.name | titlecase }}</strong></p>
                      </ion-text>
                      <p class="ion-no-margin">Costo: ${{ service.price | number }}</p>
                    </ion-col>
                    <ion-col size="12">
                      <ion-button expand="block" color="primary" class="ion-no-margin ion-margin-top"
                        (click)=openModal(service)>solicitar</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-header>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ng-template>

      <!-- no services -->
      <ng-template [ngIf]="services.value?.length == 0">
        <h1>no services</h1>
      </ng-template>

      <!-- error on get services -->
      <ng-template [ngIf]="services.error">
        <h1>Error</h1>
      </ng-template>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Crédito:</ion-title>
    <ion-title slot="end" class="ion-padding-horizontal"> ${{ user.credit | number }}</ion-title>
  </ion-toolbar>
</ion-footer>