<ion-content>
  <ion-list lines="none">
    <ion-item>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col>
            <ion-title class="ion-no-padding">
              <strong>Te damos la bienvenida a <br><ion-label color="primary">Oppa</ion-label></strong>
            </ion-title>
            <br>
            <ion-label>Pasos para comenzar</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-icon class="ion-no-margin" name="location-outline" size="large" slot="start"></ion-icon>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-title class="ion-no-padding"><strong>Ingresa tu dirección</strong></ion-title>
            <ion-text>Agrega tu dirección desde el apartado de Mis Datos.</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-icon class="ion-no-margin" name="person-outline" size="large" slot="start"></ion-icon>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-title class="ion-no-padding"><strong>Apadrina algún familiar</strong></ion-title>
            <ion-text>Apadrina y solicita servicios para ti o tus familiares, creando y administrando sus cuentas y la tuya.</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-icon class="ion-no-margin" name="storefront-outline" size="large" slot="start"></ion-icon>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-title class="ion-no-padding"><strong>Elige el servicio que necesites</strong></ion-title>
            <ion-text>Busca entre las diferentes categorías el servicio que requieras para ti o tus apadrinados.</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-icon class="ion-no-margin" name="people-outline" size="large" slot="start"></ion-icon>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-title class="ion-no-padding"><strong>Recibe a nuestro Socio Oppa</strong></ion-title>
            <ion-text>Personal calificado para ofrecerte siempre el mejor servicio.</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button routerLink="/sidemenu/services" class="ion-padding-horizontal" expand="block" color="primary">Continuar</ion-button>
  </ion-toolbar>
</ion-footer>