ion-img {
  width: 70%;
  margin: 30px auto;
}

.bottom-btn {
  position: fixed;
  width: 88%;
  bottom: 10px;
}

.bottom-btn-2 {
  position: fixed;
  width: 88%;
  bottom: 50px;
}

.pass-not-match {
  color: #eb445a;
}