ion-card>ion-img {
  object-fit: cover;
  height: 25vh;
}

ion-avatar {
  position: absolute;
  top: 15%;
  left: 33%;
  width: 120px;
  height: 120px;
}

.state {
  position: absolute;
  right: 30px;
  top: 31.7vh;
}

ion-icon.star {
  font-size: 18px;
}

ion-icon:not(.star) {
  margin-right: 10px;
}

ion-item {
  height: 38px;
}

ion-list {
  padding-top: 0;
}